/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #fff;
  --accent-color: ;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

body {
  height: 100%;
  font-family: "Exo", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--text-color);
  background: #0a0b16 url("../images/bg.png") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 395px;
    height: 155px;
    background: url("../images/after.png") no-repeat center / contain;
    position: absolute;
    top: -100px;
    left: 50%;
    transform-origin: left;

    @media only screen and (max-width: $tablet-l) {
      transform: rotateZ(-15deg);
    }

    @media only screen and (max-width: $tablet) {
      transform: rotateZ(-35deg);
      width: 250px;
      height: 100px;
      top: -20px;
    }

    @media only screen and (max-width: $mobile) {
      transform: rotateZ(-35deg);
      width: 140px;
      height: 70px;
      top: 0;
      left: 55%;
    }
  }

  @media only screen and (max-width: $mobile) {
    max-width: 90%;
  }
}

.img {
  max-width: 392px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.content {
  display: block;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.content__title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 40px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 30px;
  }
}

.content__text {
  font-size: 30px;
  font-weight: 300;
  transition: font-size 0.5s ease;

  @media only screen and (max-width: $tablet) {
    font-size: 24px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 20px;
  }
}
